* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f6f8;
  color: #333;
  line-height: 1.6;
}

header {
  background: #0a3d62;
  color: white;
  text-align: center;
  padding: 60px 20px;
}

header h1 {
  font-size: 36px;
}

header p {
  margin: 15px 0;
}

.btn {
  background: #38ada9;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

section {
  padding: 50px 20px;
  max-width: 900px;
  margin: auto;
}

h2 {
  margin-bottom: 20px;
  color: #0a3d62;
}

.project {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.project span {
  font-size: 14px;
  color: #777;
}

ul {
  list-style: square;
  margin-left: 20px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #0a3d62;
  color: white;
}
