* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f4f6f8;
  color: #333;
  line-height: 1.6;
}

/* HEADER */
header {
  background: #0a3d62;
  color: white;
  text-align: center;
  padding: 60px 20px;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid white;
  margin-bottom: 20px;
}

header h1 {
  font-size: 36px;
}

header p {
  margin: 15px 0;
  font-size: 18px;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  background: #38ada9;
  color: white;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 5px;
}

/* SECTIONS */
section {
  max-width: 900px;
  margin: auto;
  padding: 50px 20px;
}

h2 {
  color: #0a3d62;
  margin-bottom: 20px;
}

/* PROJECTS */
.project {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.project h3 {
  margin-bottom: 10px;
}

.project span {
  font-size: 14px;
  color: #777;
}

/* SKILLS */
ul {
  list-style: square;
  margin-left: 20px;
}

ul li {
  margin-bottom: 8px;
}

/* CONTACT */
#contact p {
  margin-bottom: 10px;
}

/* FOOTER */
footer {
  background: #0a3d62;
  color: white;
  text-align: center;
  padding: 20px;
}
#contact i {
  color: #0a3d62;
  margin-right: 10px;
  font-size: 18px;
}

#contact a {
  color: #333;
  text-decoration: none;
  font-weight: 500;
}

#contact a:hover {
  color: #38ada9;
  text-decoration: underline;
}

#contact p {
  margin-bottom: 15px;
  font-size: 16px;
}

